# Introduction to Pandas

[nbviewer](http://nbviewer.jupyter.org/github/nuclth/Python_Statistics/blob/master/Intro_to_Pandas.ipynb)

**Last Edited**: 2017-10-06 18:14:43

 # Table of Contents
<div class="toc" style="margin-top: 1em;"><ul class="toc-item" id="toc-level0"><li><span><a href="http://localhost:8888/notebooks/Intro_to_Pandas.ipynb#Understanding-Data-Structures" data-toc-modified-id="Understanding-Data-Structures-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Understanding Data Structures</a></span><ul class="toc-item"><li><span><a href="http://localhost:8888/notebooks/Intro_to_Pandas.ipynb#Data-structures-at-a-glance" data-toc-modified-id="Data-structures-at-a-glance-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Data structures at a glance</a></span></li><li><span><a href="http://localhost:8888/notebooks/Intro_to_Pandas.ipynb#Series" data-toc-modified-id="Series-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Series</a></span></li><li><span><a href="http://localhost:8888/notebooks/Intro_to_Pandas.ipynb#DataFrame" data-toc-modified-id="DataFrame-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>DataFrame</a></span><ul class="toc-item"><li><span><a href="http://localhost:8888/notebooks/Intro_to_Pandas.ipynb#Dataframe-Construction" data-toc-modified-id="Dataframe-Construction-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Dataframe Construction</a></span><ul class="toc-item"><li><span><a href="http://localhost:8888/notebooks/Intro_to_Pandas.ipynb#Dict-or-Series-of-Dicts" data-toc-modified-id="Dict-or-Series-of-Dicts-1.3.1.1"><span class="toc-item-num">1.3.1.1&nbsp;&nbsp;</span>Dict or Series of Dicts</a></span></li><li><span><a href="http://localhost:8888/notebooks/Intro_to_Pandas.ipynb#Dict-of-ndarrays/lists" data-toc-modified-id="Dict-of-ndarrays/lists-1.3.1.2"><span class="toc-item-num">1.3.1.2&nbsp;&nbsp;</span>Dict of ndarrays/lists</a></span></li><li><span><a href="http://localhost:8888/notebooks/Intro_to_Pandas.ipynb#Structured-Array" data-toc-modified-id="Structured-Array-1.3.1.3"><span class="toc-item-num">1.3.1.3&nbsp;&nbsp;</span>Structured Array</a></span></li><li><span><a href="http://localhost:8888/notebooks/Intro_to_Pandas.ipynb#List-of-Dicts" data-toc-modified-id="List-of-Dicts-1.3.1.4"><span class="toc-item-num">1.3.1.4&nbsp;&nbsp;</span>List of Dicts</a></span></li><li><span><a href="http://localhost:8888/notebooks/Intro_to_Pandas.ipynb#Series" data-toc-modified-id="Series-1.3.1.5"><span class="toc-item-num">1.3.1.5&nbsp;&nbsp;</span>Series</a></span></li><li><span><a href="http://localhost:8888/notebooks/Intro_to_Pandas.ipynb#Dict-of-Tuples" data-toc-modified-id="Dict-of-Tuples-1.3.1.6"><span class="toc-item-num">1.3.1.6&nbsp;&nbsp;</span>Dict of Tuples</a></span></li></ul></li><li><span><a href="http://localhost:8888/notebooks/Intro_to_Pandas.ipynb#Dataframe-Manipulations" data-toc-modified-id="Dataframe-Manipulations-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Dataframe Manipulations</a></span></li></ul></li><li><span><a href="http://localhost:8888/notebooks/Intro_to_Pandas.ipynb#Panel" data-toc-modified-id="Panel-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Panel</a></span></li></ul></li><li><span><a href="http://localhost:8888/notebooks/Intro_to_Pandas.ipynb#Resources" data-toc-modified-id="Resources-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Resources</a></span></li></ul></div>

# Understanding Data Structures

This notebook is meant to serve as a lightning introduction to working with Pandas data structures. Heavily based on the pandas [Intro to Data Structures](https://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro). See also [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html).


## Data structures at a glance

In [231]:
import pandas as pd
import numpy as np

Taken from [pandas package description](https://pandas.pydata.org/pandas-docs/stable/overview.html). The three different available data structures are:

|Dimensions |Name     |Description|
|:-----     |:-----   |:-----:|
|1          |Series   |	1D labeled homogeneously-typed array |
|2          |DataFrame| General 2D labeled, size-mutable tabular structure with potentially heterogeneously-typed columns |
|3          |Panel    | General 3D labeled, also size-mutable array |

Note that data alignment for these structures is always maintained unless explicitly broken (examples below).

## Series

[Documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html#pandas.Series)

A 1-dimensional array holding fixed types. These can be created with **3** different types of data inputs:

|Data call|Example|
|:---|:---|
|**scalar**| `pd.Series(5, index=range(5))`|
|**Dict**| `pd.Series({1: 50, 2: 100})`|
|**Ndarray**| `pd.Series(np.random.randn(5))`|

The scalar default size is 1 if no index is specified. One can access variables in the usual way, say `s = pd.Series (1, index = ['a','b'])`. Then `s[0]` and `s['a']` are both valid calls (array-like and dictionary-like respectively).

In [232]:
s1 = pd.Series(range(5))
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

Below we see the issue of data alignment. When adding the two series, the values associated with each label automatically line up. Note that we also get back `NaN` when the value for at least one of the series is undefined. All values would be `NaN` if our indices had different values (e.g., `a b c d e`).

In [233]:
s2 = pd.Series(range(3))
s1[1:] + s2[:4]

0    NaN
1    2.0
2    4.0
3    NaN
4    NaN
dtype: float64

We can also take dot products between two different series as if they are vectors.

In [260]:
s1[:3].dot(s2)

5

## DataFrame

[Documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)

### Dataframe Construction

Dataframes can be created from many different inputs. Below I list explicitly **6** different constructions.

#### Dict or Series of Dicts

If unspecified, the index starts from zero. If unspecified, columns are the keys of the dictionary.

In [234]:
pd.DataFrame({'one' : pd.Series([1.]), 'two' : pd.Series([1., 2.], index=['a', 'b'])}, columns = ['one', 'two', 'three'])

   one  two three
0  1.0  NaN   NaN
a  NaN  1.0   NaN
b  NaN  2.0   NaN

#### Dict of ndarrays/lists

The dicts must be the same size in this dataframe creation.

In [235]:
pd.DataFrame({'one' : [1., 2., 3.], 'two' : [3., 2., 1.]})

   one  two
0  1.0  3.0
1  2.0  2.0
2  3.0  1.0

#### Structured Array

Handled identically to a dict of arrays.

In [239]:
data = np.zeros((2,), dtype=[('A', 'i4'),('B', 'f4'),('C', 'a10')])
data[:] = [(1,2.,'Hello'), (2,3.,"World")]

pd.DataFrame(data, index = ['first','second'], columns=['C','B','A'])

            C    B  A
first   Hello  2.0  1
second  World  3.0  2

#### List of Dicts

In [236]:
pd.DataFrame ([{'a': 1}, {'a': 5, 'b': 10}], index = ['Y', 'Z'])

   a     b
Y  1   NaN
Z  5  10.0

#### Series

In [262]:
s3 = pd.Series(['A','B'])
s4 = pd.Series(['C','D'])
pd.DataFrame([s3,s4])

   0  1
0  A  B
1  C  D

#### Dict of Tuples

A way to create multi-index Dataframes.

In [238]:
pd.DataFrame({('A', 'a1'): {('Y', 'y1'): 1, ('Y', 'y2'): 2},
              ('A', 'a2'): {('Y', 'y1'): 3, ('Y', 'y2'): 4},
              ('A', 'a3'): {('Z', 'z1'): 5, ('Z', 'z2'): 6},
              ('B', 'b1'): {('Z', 'z1'): 7, ('Z', 'z2'): 8},
              ('B', 'b2'): {('Z', 'z1'): 9, ('Z', 'z2'): 10}})

        A              B
       a1   a2   a3   b1    b2
Y y1  1.0  3.0  NaN  NaN   NaN
  y2  2.0  4.0  NaN  NaN   NaN
Z z1  NaN  NaN  5.0  7.0   9.0
  z2  NaN  NaN  6.0  8.0  10.0

Somewhat confusing in construction. The first two numbers are the column values including nested columns. Next inside the second set of braces are the nested values for rows and then the value. So for example in the code above, the first line reads: 

* top column A with nested column a1 has two elements with top row Y and nest row y1 (1.0) and top row Y with nest row y2 (2.0)

### Dataframe Manipulations

In [240]:
df = pd.DataFrame({'one' : [1., 2., 3.], 'two' : [3., 2., 1.]}); df

   one  two
0  1.0  3.0
1  2.0  2.0
2  3.0  1.0

We can get a summary of the dataframe using the `.info` command.

In [253]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
one      3 non-null float64
bar      2 non-null float64
three    3 non-null float64
dtypes: float64(3)
memory usage: 144.0 bytes

Access is done in the usual way (two distinct but equivalent methods shown)

In [267]:
print(df['one'][1]); df.iloc[1,0]

2.0

2.0

with commas for nested rows/columns e.g., `df['A', 'a1']`. Other access ways are given below in the table.

|Operation |	Syntax |	Result|
|:---|:---|
|Select  column 	| `df[col]` |	Series|
|Select  row by label |	`df.loc[label]` |	Series|
|Select row by integer location 	| `df.iloc[loc]` | 	Series|
|Get scalar by row (fast `loc`) | `df.at[loc]` | scalar |
|Get scalar by location (fast `iloc`) | `df.iat[loc]` | scalar |
|Slice rows |	`df[5:10]` |	DataFrame|
|Select rows by boolean vector |	`df[bool_vec]` |	DataFrame|

It is easy to create new columns, `df ['A']` where `df` is the dataframe name and `A` is the new column name. The `del` command also allows column deletion. Columns can also be inserted at a particular space with the `.insert` command.

In [242]:
df['three'] = df['one'] * df['two']
del df['two']
df.insert(1, 'bar', df['one'][:2])
df

   one  bar  three
0  1.0  1.0    3.0
1  2.0  2.0    4.0
2  3.0  NaN    3.0

This can also be accomplished with the `.assign` command (used two different ways here)

In [243]:
df4 = df.assign(four = df.three/df.one).assign(five = lambda q: q.three * q.bar)
df4

   one  bar  three  four  five
0  1.0  1.0    3.0   3.0   3.0
1  2.0  2.0    4.0   2.0   8.0
2  3.0  NaN    3.0   1.0   NaN

 but note that the original dataframe is unchanged!

In [244]:
df

   one  bar  three
0  1.0  1.0    3.0
1  2.0  2.0    4.0
2  3.0  NaN    3.0

The `.query` command can be used to only take certain elements of a dataframe,

In [245]:
df4.query('four < 3')

   one  bar  three  four  five
1  2.0  2.0    4.0   2.0   8.0
2  3.0  NaN    3.0   1.0   NaN

One can also dot dataframes by taking the transpose `.T`

In [247]:
df.dot(df.T)

      0     1   2
0  11.0  16.0 NaN
1  16.0  24.0 NaN
2   NaN   NaN NaN

Also as before, dataframes keep their data alignment (the index and columns of each dataframe match) when doing manipulations between two different dataframes.

In [254]:
df - 0.5*df

   one  bar  three
0  0.5  0.5    1.5
1  1.0  1.0    2.0
2  1.5  NaN    1.5

## Panel

Panel is deprecated and will be removed in a future version of pandas. Therefore, I do not cover it.

# Resources

[Package Description](https://pandas.pydata.org/pandas-docs/stable/overview.html)